Source: ros-hydro-nasa-r2-common
Section: misc
Priority: extra
Maintainer: David Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-r2-description, ros-hydro-r2-dynamic-reconfigure, ros-hydro-r2-msgs, ros-hydro-r2-teleop
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-nasa-r2-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-r2-description, ros-hydro-r2-dynamic-reconfigure, ros-hydro-r2-msgs, ros-hydro-r2-teleop
Description: The nasa_r2_common package
